[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
notebook = "*"
opencv-python = "*"
torch="*"
torchvision="*"
matplotlib = "*"
cython = "*"
pydensecrf = {git = "https://github.com/lucasb-eyer/pydensecrf.git"}

[dev-packages]

[requires]
python_version = "3.9"
